// Colors

$color-w: #ffffff;
$color-b: #222222;

$color-grey: #3b3b3b;

$third: #e6eef9;

// grids
$grid-width: 94rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
