::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 750px) {
  html {
    font-size: 31.25%; // 1rem = 5px
    overflow-x: hidden;
  }
}
