@media (prefers-color-scheme: light) {
  body {
    background-color: #eee;

    .apps {
      background-color: #ddd;
      box-shadow: 0 3px 13px 0 rgba(#bbb, 0.6);

      &__text {
        color: #222;
      }
    }

    .app,
    .folder {
      color: #222;
    }

    .bg-blur {
      background: rgba(238, 238, 238, 0.6);
    }

    .app-icon {
      background-image: linear-gradient(to right bottom, #fff, #eee);
      box-shadow: 0 0px 10px 0px rgba(#000, 0.1);

      &-letter {
        color: #222;
      }

      &:hover {
        animation: glow-black 4s infinite;
        transition: 1s ease;
      }
    }

    .folder-apps {
      background-color: rgba(#ccc, 0.9);

      &::before {
        background-color: #cfcfcf;
      }

      &.expand {
        .app-icon {
          &-letter {
            color: #222;
          }
        }
      }
    }

    .buttons {
      .button {
        background-color: #fff;
        color: #333;
        background-image: linear-gradient(to right, #eee, #eee, #333, #444);
        box-shadow: 0 3px 13px 0 rgba(#888, 0.4);

        &:hover {
          box-shadow: 0 3px 13px 0 rgba(#222, 0.3);
          color: #fff;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;

    .apps {
      background-color: #333333;
      box-shadow: 0 3px 13px 0 rgba(#666, 0.3);

      &__text {
        color: #fff;
      }
    }

    .app,
    .folder {
      color: #ffffff;
    }

    .bg-blur {
      background: rgba(34, 34, 34, 0.6);
    }

    .app-icon {
      background-image: linear-gradient(to right bottom, #777, #aaa);

      &-letter {
        color: #fff;
      }

      &:hover {
        animation: glow-white 4s infinite;
        transition: 1s ease;
      }
    }

    .folder-apps {
      background-color: rgba(#656565, 0.9);

      &::before {
        background-color: #606060;
      }

      &.expand {
        .app-icon {
          &-letter {
            color: #fff;
          }
        }
      }
    }
  }
}

@keyframes glow-white {
  0% {
    box-shadow: 0 0 25px rgba(206, 160, 94, 0);
  }

  40% {
    box-shadow: 0 0px 20px 0px rgba(#ffffff, 0.95);
  }

  60% {
    box-shadow: 0 0 15px 0px rgba(#ffffff, 0.5);
  }

  100% {
    box-shadow: 0 0 25px rgba(206, 160, 94, 0);
  }
}

@keyframes glow-black {
  0% {
    box-shadow: 0 0px 10px 0px rgba(#000, 0.15);
  }

  40% {
    box-shadow: 0 0px 20px 0px rgba(#000, 0.65);
  }

  60% {
    box-shadow: 0 0 15px 0px rgba(#000, 0.5);
  }

  100% {
    box-shadow: 0 0px 10px 0px rgba(#000, 0.15);
  }
}
