.u-center-text {
  text-align: center !important;
}

.u-margin-top-s {
  margin-top: 1.5rem !important;

  @include respond(tab-port) {
    margin-top: 1rem !important;
  }
}

.u-margin-top-m {
  margin-top: 3rem !important;

  @include respond(tab-port) {
    margin-top: 2rem !important;
  }
}

.u-margin-top-l {
  margin-top: 6rem !important;

  @include respond(tab-port) {
    margin-top: 4rem !important;
  }
}

.u-margin-top-xl {
  margin-top: 9rem !important;

  @include respond(tab-port) {
    margin-top: 6rem !important;
  }
}

.u-margin-top-xxl {
  margin-top: 12rem !important;

  @include respond(tab-port) {
    margin-top: 8rem !important;
  }
}

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important;

  @include respond(tab-port) {
    margin-top: 1rem !important;
  }
}

.u-margin-bottom-m {
  margin-bottom: 3rem !important;

  @include respond(tab-port) {
    margin-top: 2rem !important;
  }
}

.u-margin-bottom-l {
  margin-bottom: 6rem !important;

  @include respond(tab-port) {
    margin-top: 4rem !important;
  }
}

.u-margin-bottom-xl {
  margin-bottom: 9rem !important;

  @include respond(tab-port) {
    margin-top: 6rem !important;
  }
}

.u-margin-bottom-xxl {
  margin-bottom: 12rem !important;

  @include respond(tab-port) {
    margin-top: 8rem !important;
  }
}
