*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #222;
  letter-spacing: 0.5px;
}

.apps {
  transition: transform 0.6s ease-in-out;
  width: 700px;
  margin: 0 auto;
  transform-style: preserve-3d;
  z-index: 2;
}

.apps__page {
  background-color: #333333;
  display: inline-flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 25px 0 7.5px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  $z: 1px;

  @for $fy from 1 through 1000 {
    $y: 100px - (100 * ($fy - 1));

    @for $fx from 1 through 7 {
      $x: -10px - (100 * ($fx - 1)) + 190.5px;

      .folder:nth-child(#{$fx+(7 * ($fy - 1))}) .folder-apps.expand {
        transform: scale(1, 1) translate3d($x, $y, $z);

        ~ .folder-name {
          transform: translate3d($x, $y - 376, $z);
          ~ .x-touch {
            transform: translate3d($x, $y + 0, $z);
          }
        }
      }
    }
  }
}

/** Apps **/
.app,
.folder {
  margin: 0 20px 15px;
  max-width: 60px;
  max-height: 80px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.app-icon,
.folder-apps {
  margin: auto;
}

.app-icon {
  background-image: linear-gradient(#dde, #aab);
  border-radius: 9px;
  width: 60px;
  height: 60px;
}

.x-touch {
  font-size: 30px;
  opacity: 0;
  width: 304px;
  background-color: rgba(#656565, 0.6);
  border-radius: 99px;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.bg-blur {
  position: absolute;
  backdrop-filter: blur(0px);
  top: -15%;
  left: -15%;
  width: 130%;
  height: 130%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  z-index: 1;
}

.folder-apps::-webkit-scrollbar {
  display: none;
}

.folder-apps {
  background-color: rgba(#656565, 0.6);
  overflow-y: scroll;
  border-radius: 45px;
  backdrop-filter: blur(15px);
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  transition: transform 0.15s;
  padding: 48px 36px 40px;
  width: 304px;
  height: 304px;
  $scale: 60/304;
  transform: scale($scale, $scale) {
    origin: 0 0;
  }

  .app {
    pointer-events: none;
  }

  &.expand {
    backdrop-filter: blur(0px);
    outline: 0;
    padding: 26px 8px 8px;

    ~ .folder-name {
      animation: 0.8s ease-in-out 0s forwards fadeIn;
      font-size: 30px;
      opacity: 0;
      width: 300px;
    }

    ~ .x-touch {
      animation: 0.6s ease-in-out 0s forwards fadeIn;
      visibility: visible;
      opacity: 1;
    }

    ~ .bg-blur {
      backdrop-filter: blur(5px);
      visibility: visible;
      opacity: 1;
    }

    .app {
      margin: 0 18px 10px 18px;
      pointer-events: initial;
    }

    .app-icon {
      border-radius: 9px;
    }

    .app-name {
      display: inherit;
    }
  }

  .app {
    margin: 0 8px 20px 8px;
  }

  .app-icon {
    border-radius: 18px;
  }

  .app-name {
    display: none;
  }
}

.app-name,
.folder-name {
  text-align: center;
  padding-top: 5px;
  font-size: 8px;
  user-select: none;
}

.folder-name {
  transform: translateY(-244px);
  cursor: default;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
