@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

$container: 750px;

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #888888;
  --outline: 1px solid rgba(0, 0, 0, 0);
  --outline-offset: -1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #111111;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: #222;
  letter-spacing: 0.5px;
}

.apps {
  transition: transform 0.6s ease-in-out;
  width: $container; // container - 700px
  padding: 25px 15px 5px;
  border-radius: 35px;
  margin: 60px auto 0;
  transform-style: preserve-3d;
  z-index: 2;

  background-color: #333333;
  box-shadow: 0 3px 13px 0 rgba(#666, 0.3);
}

.apps__page {
  display: inline-flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  $z: 1px;

  @for $fy from 1 through 1000 {
    $y: 50px - (110 * ($fy - 1));

    @for $fx from 1 through 6 {
      $x: -10px - (120 * ($fx - 1)) + 173px;

      .folder:nth-child(#{$fx+(6 * ($fy - 1))}) .folder-apps.expand {
        transform: scale(1, 1) translate3d($x, $y, $z);

        ~ .folder-name {
          transform: translate3d($x, $y - 390, $z);
          ~ .x-touch {
            transform: translate3d($x, $y + 10, $z);
          }
        }
      }
    }
  }
}

/** Apps **/
.app,
.folder {
  // 120px width with margin
  margin: 0 25px 20px;
  max-width: 70px;
  max-height: 90px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.app-icon {
  position: relative;
  background-image: linear-gradient(to right bottom, #555, #aaa);
  border-radius: 9px;
  width: 70px;
  margin: auto;
  height: 70px;

  &-img {
    // temporary
    display: none;

    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    width: 70px;
    height: 70px;
  }

  &-letter {
    z-index: 0;

    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-family: Montserrat;
    font-weight: 300;

    padding-top: 21px;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  &:hover {
    animation: glow 4s infinite;
    transition: 1s ease;
  }
}

.x-touch {
  display: none;
  font-size: 30px;
  opacity: 0;
  width: 342px;
  background-color: rgba(#656565, 0.6);
  border-radius: 99px;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  user-select: none;
}

.bg-blur {
  position: absolute;
  backdrop-filter: blur(0px);
  top: -15%;
  left: -15%;
  width: 130%;
  height: 130%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.folder-apps::-webkit-scrollbar {
  display: none;
}

.folder-apps {
  margin: auto;
  background-color: rgba(#656565, 0.6);
  overflow-y: scroll;
  border-radius: 45px;
  backdrop-filter: blur(15px);
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  transition: transform 0.4s;
  padding: 45px 35px 10px;
  width: 342px;
  height: 342px;
  $scale: 70/342;
  transform: scale($scale, $scale) {
    origin: 0 0;
  }

  .app {
    pointer-events: none;
    margin: 0 10px 25px;
  }

  .app-icon {
    border-radius: 16px;
  }

  .app-name {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  &.expand {
    backdrop-filter: blur(0px);
    outline: 0;
    padding: 30px 18px 5px;

    ~ .folder-name {
      animation: 1s ease-in-out 0s forwards fadeIn;
      font-size: 30px;
      opacity: 0;
      width: 360px;
    }

    ~ .x-touch {
      display: block;
      animation: 1s ease-in-out 0s forwards fadeIn;
      visibility: visible;
      opacity: 1;
    }

    ~ .bg-blur {
      backdrop-filter: blur(5px);
      visibility: visible;
      opacity: 1;
    }

    .app {
      margin: 0 16px 13px;
      pointer-events: initial;
    }

    .app-icon {
      border-radius: 9px;

      &-letter {
        color: #fff;
      }
    }

    .app-name {
      display: inherit;
      visibility: visible;
      animation: 1s ease-in-out 0s forwards fadeIn;
      opacity: 1;
    }
  }
}

.app-name,
.folder-name {
  text-align: center;
  padding-top: 5px;
  font-size: 10px;
  line-height: 13px;
  user-select: none;
  width: 100px;
  margin-left: -15px;
}

.folder {
  .app-name {
    // font-size: 9px;
    padding-top: 3px;
  }
}

.folder-name {
  transform: translateY(-272px);
  cursor: default;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.buttons {
  transition: transform 1s ease-in-out;
  width: $container;
  margin: 0 auto;

  .button {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 99px;
    margin: 20px 20px 20px 0;
    text-align: center;
    border: none;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
    background-size: 300% 100%;
    transition: all 1s;

    background-color: #333333;
    color: #ffffff;
    background-image: linear-gradient(
      to right,
      #333333,
      #333333,
      #ffffff,
      #ddd
    );
    box-shadow: 0 3px 13px 0 rgba(#666, 0.3);

    &:hover {
      background-position: 100% 0;
      transition: all 1s;

      box-shadow: 0 3px 13px 0 rgba(#ffffff, 0.3);
      color: #222222;
    }
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 25px rgba(206, 160, 94, 0), 0 10px 25px rgba(33, 33, 33, 0);
  }
  40% {
    box-shadow: 0 0px 15px 0px rgba(#ffffff, 0.95);
  }
  60% {
    box-shadow: 0 20 15px 0px rgba(#ffffff, 0.5);
  }
  100% {
    box-shadow: 0 0 25px rgba(206, 160, 94, 0), 0 10px 25px rgba(33, 33, 33, 0);
  }
}
